# Numpy Practice

### Do The following :
- Finish the practice
- share it on your github account

#### Write the code that will produce the requested output or action as you see on the following cell

In [9]:
## For example 
## to get the output Hello, Mohammed
print("Hello, Mohammed") ## TODO

Hello, Mohammed

In [1]:
x = print("Hello, my name is 'jack'")
x

Hello, my name is 'jack'

### import the package numpy and make the shortcut "np" for it.

In [2]:
## TODO

!pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\python38\lib\site-packages (1.19.5)

#### define a numpy array [1, 2, 3, 4, 5] and assign it to variable x

In [3]:
## TODO

x = np.array([1,2,3,4,5])

### Print x

In [4]:
## TODO 
print (x)

[1 2 3 4 5]

### Print the mean of x using numpy

In [5]:
## TODO
"The mean of the array is:",x.mean()

('The mean of the array is:', 3.0)

### Print the maximum number in array x

In [6]:
## TODO 
"the maximum number of the array is:",x.max()

('the maximum number of the array is:', 5)

### Generate a random number between 35 and 40

In [7]:
## TODO 
#pick intger number or float numbers 
#by Removing the '#'
rng = np.random.default_rng()

#rng.random.uniform(35,40) # float

np.random.randint(35,40)  # int

38

### generate a list (N) of 1000 numbers with random values between 100 and 150

In [8]:
## TODO 
#pick intger number or float numbers 
#by Removing the '#'

# N = rng.random.uniform(low = 100, high = 150, size= 1000) # float

N = np.random.randint(100,150,size =(1000))                # int

N

array([139, 147, 113, 134, 108, 128, 116, 130, 140, 142, 137, 146, 103,
       104, 117, 112, 126, 104, 107, 142, 130, 123, 122, 105, 119, 141,
       119, 134, 100, 147, 131, 113, 142, 100, 144, 147, 104, 126, 124,
       122, 101, 148, 109, 107, 111, 137, 109, 104, 135, 112, 136, 127,
       144, 116, 133, 119, 119, 108, 107, 109, 130, 127, 148, 120, 131,
       102, 103, 126, 101, 116, 123, 133, 105, 139, 128, 105, 129, 117,
       127, 147, 118, 114, 120, 137, 117, 106, 121, 121, 149, 105, 139,
       115, 129, 129, 113, 106, 104, 142, 103, 100, 136, 113, 145, 148,
       145, 124, 132, 114, 138, 109, 138, 114, 127, 109, 148, 106, 117,
       117, 139, 100, 119, 142, 138, 115, 123, 110, 137, 144, 132, 118,
       111, 102, 149, 114, 149, 101, 102, 125, 129, 102, 125, 121, 110,
       103, 101, 127, 119, 105, 115, 137, 126, 121, 144, 113, 131, 126,
       138, 102, 111, 115, 149, 114, 141, 140, 140, 139, 126, 129, 104,
       145, 105, 136, 131, 132, 110, 114, 138, 122, 147, 111, 127, 128,
       110, 105, 147, 138, 147, 118, 106, 102, 100, 132, 147, 121, 142,
       125, 139, 119, 130, 119, 143, 142, 119, 126, 132, 130, 100, 103,
       107, 138, 100, 145, 138, 134, 145, 114, 126, 117, 102, 125, 122,
       108, 108, 139, 107, 110, 143, 100, 112, 139, 106, 143, 106, 116,
       107, 118, 130, 117, 131, 122, 134, 138, 101, 138, 132, 110, 124,
       101, 134, 111, 136, 110, 141, 129, 147, 111, 127, 100, 134, 147,
       103, 137, 129, 132, 104, 143, 131, 149, 143, 134, 130, 129, 133,
       145, 133, 136, 127, 141, 105, 114, 134, 118, 115, 144, 110, 120,
       117, 113, 139, 144, 141, 109, 144, 125, 123, 126, 109, 137, 116,
       147, 119, 115, 118, 114, 110, 125, 130, 109, 116, 133, 123, 144,
       134, 119, 106, 136, 143, 125, 140, 103, 145, 119, 100, 133, 118,
       119, 148, 106, 103, 144, 120, 133, 108, 118, 149, 118, 110, 137,
       127, 141, 138, 147, 102, 149, 123, 132, 123, 106, 111, 105, 118,
       122, 127, 113, 121, 114, 148, 137, 147, 120, 119, 149, 107, 104,
       119, 125, 139, 123, 144, 149, 116, 138, 105, 100, 106, 121, 127,
       105, 112, 143, 109, 127, 108, 120, 148, 110, 116, 106, 144, 100,
       142, 110, 103, 127, 116, 122, 128, 127, 143, 105, 125, 113, 138,
       110, 106, 143, 124, 111, 141, 108, 143, 143, 101, 112, 118, 103,
       115, 102, 102, 126, 111, 136, 142, 102, 140, 142, 102, 115, 147,
       116, 114, 103, 149, 127, 121, 146, 102, 136, 101, 115, 125, 147,
       126, 112, 138, 141, 106, 125, 119, 120, 127, 103, 106, 127, 146,
       109, 141, 113, 137, 138, 128, 108, 139, 103, 144, 108, 100, 122,
       145, 110, 137, 115, 145, 146, 135, 122, 125, 105, 144, 113, 142,
       148, 132, 111, 143, 105, 148, 124, 133, 135, 109, 139, 129, 128,
       118, 132, 122, 131, 139, 130, 119, 119, 126, 121, 137, 109, 145,
       149, 115, 107, 124, 119, 149, 142, 141, 120, 101, 147, 147, 134,
       118, 149, 124, 148, 138, 107, 128, 101, 110, 135, 143, 142, 129,
       107, 125, 139, 114, 134, 128, 122, 107, 118, 146, 130, 148, 139,
       137, 141, 100, 108, 145, 138, 142, 142, 128, 130, 147, 121, 125,
       149, 104, 120, 146, 138, 131, 108, 108, 118, 100, 129, 128, 134,
       136, 121, 105, 144, 128, 148, 142, 121, 106, 106, 144, 122, 111,
       117, 136, 148, 123, 114, 139, 117, 137, 125, 109, 100, 146, 130,
       100, 119, 118, 134, 112, 124, 140, 102, 120, 122, 103, 114, 138,
       144, 114, 106, 113, 133, 143, 110, 115, 131, 125, 119, 104, 107,
       145, 133, 112, 110, 143, 137, 107, 119, 147, 149, 136, 144, 110,
       120, 144, 134, 146, 134, 108, 107, 109, 133, 100, 115, 127, 131,
       145, 109, 107, 116, 119, 112, 110, 147, 136, 117, 120, 136, 138,
       149, 116, 113, 130, 130, 130, 128, 101, 132, 100, 145, 136, 110,
       141, 118, 105, 107, 116, 126, 125, 141, 125, 128, 133, 141, 105,
       117, 143, 130, 144, 127, 101, 146, 123, 128, 104, 131, 103, 124,
       127, 121, 112, 126, 125, 126, 124, 122, 125, 148, 126, 106, 123,
       123, 142, 113, 147, 134, 105, 136, 125, 147, 143, 143, 120, 142,
       109, 142, 121, 120, 135, 124, 113, 134, 107, 118, 122, 118, 133,
       144, 126, 130, 110, 126, 123, 129, 124, 146, 145, 123, 113, 127,
       142, 106, 137, 141, 116, 125, 131, 141, 106, 121, 138, 143, 137,
       146, 108, 131, 121, 119, 122, 100, 106, 127, 143, 104, 145, 101,
       101, 139, 103, 135, 119, 114, 132, 105, 139, 101, 136, 126, 102,
       143, 145, 110, 109, 103, 102, 144, 135, 136, 109, 144, 130, 122,
       107, 108, 138, 107, 131, 126, 103, 108, 134, 131, 136, 119, 119,
       132, 100, 143, 138, 121, 100, 106, 114, 118, 139, 116, 122, 117,
       143, 144, 133, 134, 108, 149, 119, 147, 102, 110, 149, 118, 101,
       147, 146, 107, 102, 134, 127, 141, 125, 117, 126, 148, 118, 144,
       119, 115, 131, 148, 124, 112, 115, 134, 109, 148, 134, 112, 133,
       103, 125, 141, 126, 126, 110, 123, 101, 130, 140, 131, 131, 110,
       145, 105, 146, 119, 142, 140, 141, 117, 126, 115, 130, 140, 131,
       144, 100, 120, 147, 107, 137, 110, 100, 100, 140, 106, 135, 141,
       116, 135, 143, 106, 137, 111, 105, 118, 133, 132, 117, 119, 121,
       105, 127, 142, 144, 116, 128, 137, 126, 143, 149, 106, 144, 100,
       120, 139, 100, 114, 134, 107, 110, 115, 114, 131, 136, 123, 110,
       113, 101, 147, 102, 100, 116, 148, 101, 140, 119, 137, 127, 118,
       131, 140, 143, 149, 142, 134, 137, 107, 133, 149, 135, 149, 120,
       134, 134, 112, 111, 119, 102, 138, 138, 138, 112, 105, 119, 140,
       133, 129, 123, 113, 120, 124, 141, 131, 145, 108, 108, 135])

### get the mean, median, std, and variance of the list N

In [9]:
## TODO 
print('The Mean is', np.mean(N))
print('The Median is',np.median(N))
print('The std is',N.std())
print('The variance is',np.var(N))

The Mean is 124.596
The Median is 125.0
The std is 14.653354018790372
The variance is 214.72078399999995

### generate a 2D array of size 3 x 4 of random numbers between 18-65

In [10]:
##TODO 
#pick intger number or float numbers 
#by Removing the '#'


D2 = np.random.randint(18,65,size=(3,4)) #int

#D2 = rng.uniform(low=18, high=65, size=(3,4)) #float

D2

array([[36, 53, 47, 48],
       [63, 51, 55, 53],
       [21, 34, 40, 43]])

### Get the mean for every columns N

In [11]:
## TODO
# axis for colums is 0
# axis for rows is 1
C = D2.mean(axis = 0)
print(f'This is the First column  {C[0]}') 

print(f'This is the Second column {C[1]}')

print(f'This is the Thered column {C[2]}')

D2

This is the First column  40.0
This is the Second column 46.0
This is the Thered column 47.333333333333336

array([[36, 53, 47, 48],
       [63, 51, 55, 53],
       [21, 34, 40, 43]])

### Get the mean for every row of N

In [12]:
## TODO
# axis for colums is 0
# axis for rows is 1
R = D2.mean(axis = 1)
print(f'This is the First row  {R[0]}') 

print(f'This is the Second row {R[1]}')

print(f'This is the Thered row {R[2]}')

D2

This is the First row  46.0
This is the Second row 55.5
This is the Thered row 34.5

array([[36, 53, 47, 48],
       [63, 51, 55, 53],
       [21, 34, 40, 43]])

### Create the following 2D array (S) of students grade in a classroom
- grades [coursework, midterm exam, final exam]
- [20, 15, 40]
- [25, 24, 35]
- [21, 15, 25]

In [13]:
## TODO

S = np.array([[20, 15, 40],[25, 24, 35],[21, 15, 25],])

#G = np.array(['coursework', 'midterm exam', 'final exam'])

S

array([[20, 15, 40],
       [25, 24, 35],
       [21, 15, 25]])

### Get the sums of student grades in S

In [14]:
## TODO
# axis for colums is 0
# axis for rows is 1
grade = S.sum(axis = 1)

print('Student 1 =',grade[0])
print('Student 2 =',grade[1])
print('Student 3 =',grade[2])

Student 1 = 75
Student 2 = 84
Student 3 = 61

### Get the means of student grades in every activity (coursework, midterm exam, final exam) in S

In [15]:
## TODO
# axis for colums is 0
# axis for rows is 1
activity = S.mean(axis = 0)

print(f"This is the Mean of Coursework {activity[0]}")
print(f"This is the Mean of Midterm exam {activity[1]}")
print(f"This is the Mean of Final exam {activity[2]}")
S

This is the Mean of Coursework 22.0
This is the Mean of Midterm exam 18.0
This is the Mean of Final exam 33.333333333333336

array([[20, 15, 40],
       [25, 24, 35],
       [21, 15, 25]])

### reshape S in a way that make the colums represent the students and rows represent the activity, as follow
- [20, 25, 21] 
- [15, 24, 15]
- [40, 35, 25]

In [16]:
## TODO
b = S.transpose()
#print("testoutput",b.mean(axis=1)[0])
#print("testoutput",b.mean(axis=1)[1])
#print("testoutput",b.mean(axis=1)[2])
b

array([[20, 25, 21],
       [15, 24, 15],
       [40, 35, 25]])

# Pandas Practice

### import the package pandas and make the shortcut "pd" for it.

In [17]:
## TODO
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\python38\lib\site-packages (1.2.0)
Requirement already satisfied: numpy>=1.16.5 in c:\python38\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python38\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### create Series call it (Data) with the values 'a','b','d','u' and 'I'

In [18]:
## TODO

data = ['a','b','d','u','I']
data

['a', 'b', 'd', 'u', 'I']

### change index to 3,6,9,12, and 15 for (data)

In [19]:
## TODO

index = [3,6,9,12,15]
changer = pd.Series(data,index)
changer

3     a
6     b
9     d
12    u
15    I
dtype: object

### change index to client1, client2, client3, client4 and client5 for (data)

In [20]:
## TODO 
pd.Series(data,index=['client1','client2','client3','client4','client5',])

client1    a
client2    b
client3    d
client4    u
client5    I
dtype: object

### create a dataframe (D) with the followin values
- 	Name -	Age
-   Ali	 -  55
- 	Ahmad -	15
- 	Nora -	40

### Get the means of ages of people in (D)

In [21]:
## TODO expected value is 36.66
#D = pd.DataFrame([['Ali',55],["Ahmad",15],['Nora',40]],columns=['Name','Age'])

name=['Ali','Ahmad','Nora']
age = [55,15,40]
D = pd.DataFrame({'Name':name,'Age':age})

D

    Name  Age
0    Ali   55
1  Ahmad   15
2   Nora   40

In [22]:
D.mean()

Age    36.666667
dtype: float64